
.thumbnail-sm {

    width: 30%;
    height: 30%;
    min-width: 100px;
    min-height: 100px;
    max-width: 500px;
    max-height: 500px;
    display: block;
}

section {
    margin-bottom: 50px;
}
